<div class="header">
	<picture class="header__logo">
		<source type="image/svg+xml" srcset="/images/mumsnet-logo.svg">
		<img src="/images/mumsnet-logo.png" srcset="/images/mumsnet-logo@2x.png 2x, /images/mumsnet-logo@3x.png 3x"
			 alt="Mumsnet logo">
	</picture>
</div>